<div class="container" id="gallery">
		<h2>My Artwork</h2>

		<hr>

		<div class="gallery" id="galleryrows">
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<a href="static/untitled1.jpg" data-title="Untitled 1" data-lightbox="artwork">
						<img src="static/untitled1350.jpg" class="img-thumbnail" alt="untitled 1">
					</a>
					<p>Untitled<p>
				</div>

				<div class="col-lg-3 col-sm-6">
					<a href="static/untitled2.jpg" data-title="Untitled 2" data-lightbox="artwork">
						<img src="static/untitled2350.jpeg"  class="img-thumbnail" alt="untitled 2">
					</a>
					<p>Untitled<p>
				</div>

				<div class="col-lg-3 col-sm-6">
					<a href="static/pinned_part_1.jpg" data-title="Pinned I" data-lightbox="artwork">
						<img src="static/pinned_part_1350.jpg"  class="img-thumbnail" alt="pinned part 1">
					</a>
					<p>Pinned I</p>
				</div>

				<div class="col-lg-3 col-sm-6">
					<a href="static/pinned_part_2.jpg" data-title="Pinned II" data-lightbox="artwork">
						<img src="static/pinned_part_2350.jpeg"  class="img-thumbnail" alt="pinned part 2">
					</a>
					<p>Pinned II</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<a href="static/swollen350.jpeg" data-title="Swollen" data-lightbox="artwork">
						<img src="static/swollen350.jpeg"  class="img-thumbnail" alt="swollen">
					</a>
					<p>Swollen</p>
				</div>

				<div class="col-lg-3 col-sm-6">
					<a href="static/help.jpg" data-title="Help" data-lightbox="artwork">
						<img src="static/help350.jpeg"  class="img-thumbnail" alt="help">
					</a>
					<p>Help</p>
				</div>

				<div class="col-lg-3 col-sm-6">
					<a href="static/decay.jpg" data-title="Decay" data-lightbox="artwork">
						<img src="static/decay350.jpg"  class="img-thumbnail" alt="decay">
					</a>
					<p>Decay</p>
				</div>

				<div class="col-lg-3 col-sm-6">
					<a href="static/embrace.jpg" data-title="Embrace" data-lightbox="artwork">
						<img src="static/embrace350.jpeg"  class="img-thumbnail" alt="embrace">
					</a>
					<p>Embrace</p>
				</div>
			</div>
		</div>
	</div>