<footer>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<h6>Copyright &copy; 2016 Amos Cone</h6>
				</div>
				<div class="col-sm-3">
					<h6>For a closer look at what I am working on, check out my Instagram!</h6>
					<a href="https://www.instagram.com/abraham_portfolio/"><img src="static/insta.png" alt="instagram"></a>
				</div>
				<div class="col-sm-3">
					<h6>Navigation</h6>
					<ul class="list-unstyled">
						<li><a href="index.html">Home</a></li>
						<li><a href="gallery.html">Gallery</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h6>Website coded by <a href="http://www.amoscone.me">Amos Cone</a></h6>
				</div>
			</div>
		</div>
	</div>
</footer> <!-- end footer -->