<div class="top-bar">
  <div class="top-bar-title">
      <div class="menu-text">Abraham Cone</div>
  </div>
  <div class="top-bar-right">
      <a href="/">Home</a>
      <a href="/gallery">Gallery</a>
	  <a href="#">Contact Me</a>	
  </div>
</div>